<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar bg-white">
        <a class="btn btn-secondary ms-3" style="width: 50px;" href="/changeList"><i class="bi bi-arrow-return-left"></i></a>
    </nav>
    <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
        <div class="d-flex mb-3 flex-column justify-content-center">
            {{#if error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {{/if}}
            <h1 style="text-align: center;">Список свободных тем</h1>
            <h3 style="text-align: center;">Количество: {{count}}</h3>
            <div class="list-group">
            <div class="maindiv">
            <form class="d-flex flex-column justify-content-center align-items-center mb-1" action="/editNotepadList" style="width:1000px" method="POST">
                <button class="btn btn-success mb-2" type="submit">Сохранить</button>
                <textarea class="form-control theme" name="notepad" rows="{{count}}">{{#each list}}{{this}}&#13;&#10;{{/each}}</textarea>
            </form>
            </div>
            </div>  
            </div> 
    </div>
</body>
</html>