@font-face {
    font-family: 'Maki Sans';
    src: url('/fonts/ofont.ru_Maki Sans.ttf');
}
html, body {
    height: 100%;
    width: 100%;
    background-image: url('/images/bckgrnd.png');
    background-repeat: repeat;
}

.body {
    position: absolute;
}

.main {
    position: relative;
    top: 180px;
}

.container-fluid2 {
    padding-left: calc(var(--bs-gutter-x)* 4) !important;
    padding-right: calc(var(--bs-gutter-x)* 4) !important;
}


.pTheme, .btnCustom {
    font-family: 'Maki Sans', sans-serif;
}
.btnCustom {
    text-align: center;
}

.focused {
    filter: blur(0px);
}
.blurred {
    filter: blur(5px);
}
.navbar {
    background-image: url('/images/bckgrnd.png');
    background-repeat: repeat;
}

.heart {
    width:40px;
    height:40px;
}

.grid {
    display:grid;
    grid-gap: 0px;
    justify-content: space-between;
}

.cardBtn {
    width:130px;
    height:130px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}

